
/* pc用のスタイル */
@media screen and (min-width: 834px) {

    body{
        margin: 0;
    }
    main {
        max-width: 1080px;
        margin: 0 auto;
    }

    
    .nav-sp{
        display: none;
    }
    

    /* ヘッダー */
    header {
        width: 100%;
        background-color:#7fb4fd;
        height: 100px;
        display: flex;
        justify-content: center;
    }

    #nav-sp{
        display: none;
    }

    #nav-pc > nav{
        display: flex;
        flex-wrap: wrap;
    }

    
    #tel {
        max-height: 70%;
    }

    #nav-pc {
        width: 1080px;
        height: 100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .logo {
        max-height: 6rem;
    }

    .nav {
        padding: 0 10px;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .nav:hover{
        background-color: #f2ce30;
    }

    /* MV */

    #mv {
        width: 100%;
    }

    /* 挨拶 */
    #greeting {
        width: 100%;
        margin: 20px 0;
    }

    h1 {
        font-size: 60px;
        font-weight: bold;
        margin: 0 0 20px 0;
    }

    #greeting > p {
        padding-left: 10px;
        margin: 0;
        font-size: 30px;
    }

    .square {
        background: linear-gradient(transparent 70% , #f2ce30 70%);
    }

    .illust {
        width: 100%;
        opacity: 50%;
    }

    /* stock */
    #stock {
        width: 100%;
        height: 600px;
        background-color:#0749ab ;
        clip-path: polygon(0 10%, 75% 10%, 80% 0, 100% 0, 100% 100%, 23% 100%, 18% 90%, 0 90%);
    }

    #stock > h2 {
        text-align: right;
        color: white;
        font-size: 45px;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 7px 8px 0 0 ;
    }

    #car-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #car-box > a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        padding-left: 10px;
    }

    #car-box > a:hover{
        background-color: white;
        color: #0749ab;
    }

    .car {
        background-color: white;
        width: 25%;
        margin: 0 15px;
        position: relative;
    }

    .car::before{
        height: 10px;
        width: 10px;
        border-radius: 20%;
        background-color: #f2ce30;
    }

    .car > p{
        font-size: 18px;
        font-weight: bold;
        margin-left: 3px;
    }

    .car > img{
        width: 95%;
        margin-left: 6px;
    }

    .pay{
        text-align: right;
        font-weight: bold;
        margin-right: 3px;
    }

    .place {
        font-size: 20px;
        color: red;
        font-weight: bold;
    }

    .pay > p{
        margin: 0;
    }

    .detail{
        margin-top: 10px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .detail > p{
        margin: 0;
    }

    /* news */

    #news {
        width: 100%;
        margin-top: 0;
        position: relative;
        padding-left: 10px;
    }

    #news > h2{
        margin: 0;
        color: #0749ab;
        font-size: 45px;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        position: absolute;
        top: -57px;
        left: 8px;
    }

    .blog {
        float: left;
        margin: 50px 20px 0 0;
        width: 20%;
    }

    .blog > img{
        width: 100%;
    }

    .blog p:nth-of-type(1) {
        margin: 0;
        font-size: 13px;
    }

    .blog p:nth-of-type(2) {
        margin: 5px 0;
        font-size: 18px;
        font-weight: bold;
    }

    .blog p:nth-of-type(3) {
        margin: 0;
        font-size: 15px;
    }

    #news > a{
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        color: #0749ab;
        position: absolute;
        top: 220px;
        right: 10px;
    }

    #news > a:hover{
        background-color:#0749ab;
        color: white;
    }

    #sp-limited{
        display: none;
    }


    /* フッター */
    footer {
        width: 100%;
        background-color:#7fb4fd;
        height: 100px;
        position: relative;
        display: flex;
        justify-content: center;
    }

    footer > div {
        height: 100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    footer > small{
        position: absolute;
        left: 50%;
        top: 80%;
        margin: 0;
        color: white;
    }



     /* greeting.html */

     #greeting > h1{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin: 0;
    }

    #greeting > h2{
        text-align: center;
        margin: -10px 0 60px 0;
        font-size: 20px;
    }
    
    #greeting > div{
        display: flex;
        color: white;
        justify-content: space-between;
    }

    #aisatu{
        width: 100%;
        background-color: #0749ab;
        font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "MS Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        position: relative;
        padding-top: 2rem;
    }

    #aisatu::before{
        position: absolute;
        content: "";
        top: -40px;
        background-color: #0749ab;
        height: 40px;
        width: 140px;
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    }

    #aisatu p:nth-child(1){
        font-size: 20px;
        line-height: 30px;
        padding-left: 16px;
    }

    #aisatu p:nth-child(2){
        font-size: 20px;
        text-align: right;
        padding-right: 16px;
        padding-top: 47px;
    }

    #aisatu p:nth-child(3){
        font-size: 20px;
        text-align: right;
        padding-right: 16px;
        
    }

    #greeting > div > img{
        width: 47%;
    }

    /* outline */
    #outline{
        margin-top: 50px;
        position: relative;
        margin-bottom: 50px;
    }

     #outline > h1{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin: 0;
    }

    #outline > h2{
        text-align: center;
        margin: -10px 0 60px 0;
        font-size: 20px;
    }

    #outline > table{
        font-size: 18px;
        width: 100%;
        border-collapse:collapse;
        border:1px solid #ccc;
    }

    th,td{
        padding:10px;
        border-bottom:1px solid #ccc;
      }

    th{
        text-align:left;
        background-color:#eee;
        border-right:2px solid #ccc;
    }

    #img1{
        position: absolute;
        bottom: 562px;
    }



    /* stock.html */
    #stock2 > h1{

        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin:20px 0 0 0 ;
    }

    #stock2 > h2{
        text-align: center;
        margin: -10px 0 60px 0;
        font-size: 20px;
    }

    .list{
        width: 100%;
        background-color: #0749ab;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 84% 100%, 80% 90%, 0 90%);
        display: flex;
    }

    .list > img{
        height: 20rem;
        padding: 42px 30px 82px 20px;
    }

    .car-detail{
        padding-top: -10px;
    }

    .car-detail > p{
        color: white;
        margin: -9px 0 0;
        font-size: 13px;
        font-weight: bold;
    }

    .car-detail >h3{
        font-size: 35px;
        font-weight: bold;
        color: white;
        margin: 0;
        padding-top: 10px;
    }

    .payment{
        color: white;
        display: flex;
        font-size: 1rem;
        font-weight: bold;
    }

    .payment p:nth-child(1){
        margin-bottom: 0;
    }

    .payment p:nth-child(2){
        margin: 0;
    }

    .total-pay{
        padding-left: 45px;
    }
    
    .total-pay p:nth-child(2){
        color: #FFBF00;
        font-size: 25px;
    }

    .table{
        display: flex;
        font-size: 14px;
        width: 70%;
        border-collapse:collapse;
        border:2px solid #ccc;
        background-color: white;
    }

    .table >th,td{
        padding:8px;
        border-bottom:2px solid #ccc;
      }

    .table >th{
        text-align:left;
        background-color:#eee;
        border-right:2px solid #ccc;
    }

    .list > a{
        margin-top: auto;

    }

    .stock-list{
        position: relative;
        margin-bottom: 30px;
    }

    .stock-list > a{
        position: absolute;
        bottom: 16px;
        right: 15px;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        color: white;
        padding: 0 5px 0 5px;
    }

    .stock-list > a:hover{
        background-color: white;
        color: #0749ab;
    }

    .stock-list > img{
        position: absolute;
        bottom: -65px;
        z-index: -1;
    }


    /* stock-datail.html */
    #stock3 > h1{

        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin:20px 0 0 0 ;
    }

    #stock3 > h2{
        text-align: center;
        margin: -10px 0 50px 0;
        font-size: 20px;
    }

    #car-detail2{
        background-color: #0749ab;
        width: fit-content;
        padding: 15px 50px 90px 50px;
        margin: 0 auto 60px auto;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 100%, 77% 95%, 0 95%);
        position: relative;
    }

    #car-detail2 >h3{
        font-size: 30px;
        color: white;
        margin: 0;
    }

    #car-detail2 >p{
        color: white;
        margin: 0;
    }

    #payment2{
        display: flex;
        margin-top: 50px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 5px;
        color: white;
    }

    #total-pay2{
        margin-left: 110px;
    }

    #base-place2{
        margin-left: 110px;
    }

    #payment2 p:nth-child(1){
        margin-bottom: 5px;
    }

    #payment2 p:nth-child(2){
        margin: 0;
        font-size: 40px;
    }

    #total-pay2 p:nth-child(2){
        color: #FFBF00;
    }


    .slide {
        --img-size: min(800px, 85vw);
        --aspect-ratio: 1.5;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 8px;
        inline-size: var(--img-size);
        aspect-ratio: var(--aspect-ratio);
        border: 1px solid #ccc;
        box-sizing: content-box;
        padding: 0;
        background-color: #ccc;
        text-align: center;
      }
      .slide li {
        list-style: none;
        width: 18px;
        aspect-ratio: 1;
        user-select: none;
      }
      .slide input {
        translate: 0 50px;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #eee;
        cursor: pointer;
      }
      .slide input:checked {
        background-color: #bbb;
      }
      .slide img {
        --opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        inline-size: var(--img-size);
        aspect-ratio: var(--aspect-ratio);
        opacity: var(--opacity);
        transition: opacity 0.2s 0s ease-out;
        pointer-events: none;
      }
      [for^="slide"]:has(:checked) + img {
        --opacity: 1;
      }
      [for^="slide"]:before,
      [for^="slide"]:after {
        --btn-size: calc(var(--img-size) / 13);
        position: absolute;
        top: calc(50% - (var(--btn-size) / 2));
        inline-size: var(--btn-size);
        aspect-ratio: 1;
        background: #ffffffaa url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M16.67%200l2.83%202.829-9.339%209.175%209.339%209.167-2.83%202.829-12.17-11.996z%22%2F%3E%3C%2Fsvg%3E) no-repeat 50% 50% / calc(var(--btn-size) * 0.4);
        border: 1px solid #eee;
        border-radius: 100%;
        color: #fff;
        cursor: pointer;
        z-index: 1;
      }
      [for^="slide"]:before {
        left: calc(var(--btn-size) / 2 * -1);
      }
      [for^="slide"]:after {
        left: calc(var(--img-size) - var(--btn-size) / 2);
        rotate: 180deg;
      }
      /* 大事なのはここだけ
      -----------------------------------
      */
      li:has(:checked) + li [for^="slide"]:after,
      li:not(li:has(:checked), li:has(:checked) ~ li) [for^="slide"]:before {
        content: "";
      }

    #stock-datail2-table tr:nth-child(2){
        background-color: white;
    }

    #car-detail2 > a{
        position: absolute;
        bottom: 13px;
        right: 18px;
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    #car-detail2 > a:hover{
        background-color: white;
        color: #0749ab;
    }



    /* news.html */

    .news{
        color: white;
    }

    .news >h3{
        font-size: 34px;
        padding-top: 42px;
        margin: 0;
    }

    .news p:nth-child(2){
        margin: 0;
    }

    .news p:nth-child(3){
        padding-top: 20px;
        font-size: 19px;
    }

    .news-list{
        width: fit-content;
        background-color: #0749ab;
        display: flex;
    }

    .news-list > img{
        height: 20rem;
        padding: 42px 30px 20px 20px;
    }



    






}

@media screen and (max-width: 833px) {
    body{
        min-width: 375px;
        margin: 0;
    }

    #nav-pc{
        display: none;
    }

    /* ヘッダー */
    header{
        width: 100%;
        background-color:#7fb4fd;
        height: 100px;
    }

    header > div {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        margin-left: 5px;
        max-height: 6rem;
        margin-top: 9px;
    }

    /* チェックボックスを非表示にする */
    .drawer_hidden {
        display: none;
    }
  
     /* ハンバーガーアイコンの設置スペース */
    .drawer_open {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;/* 重なり順を一番上にする */
        cursor: pointer;
    }
  
    /* ハンバーガーメニューのアイコン */
    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: white;
        transition: 0.5s;
        position: absolute;
    }
  
    /* 三本線の一番上の棒の位置調整 */
    .drawer_open span:before {
        bottom: 8px;
    }
    
    /* 三本線の一番下の棒の位置調整 */
    .drawer_open span:after {
        top: 8px;
    }
    
    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer_input:checked ~ .drawer_open span {
        background: rgba(255, 255, 255, 0);
    }
    
    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer_input:checked ~ .drawer_open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    
    #drawer_input:checked ~ .drawer_open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
        
    /* メニューのデザイン*/
    .nav_content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%; /* メニューを画面の外に飛ばす */
        z-index: 99;
        background: #7fb4fd;
        transition: .5s;
    }
    
    /* メニュー黒ポチを消す */
    .nav_list {
        list-style: none;
    }
    
    /* アイコンがクリックされたらメニューを表示 */
    #drawer_input:checked ~ .nav_content {
        left: 0;/* メニューを画面に入れる */
    }

    .nav_item > a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .nav_item > a:hover{
        background-color: #f2ce30;
    }

    /* MV */
    #mv {
        width: 100%;
    }

     /* 挨拶 */
     #greeting {
        width: 100%;
        margin: 20px 0;
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
        margin: 0 0 20px 0;
    }

    #greeting > p {
        margin: 0;
        font-size: 17px;
        font-weight: bold;
    }

    .square {
        background: linear-gradient(transparent 70% , #f2ce30 70%);
    }

    .illust {
        width: 100%;
        opacity: 50%;
    }

    /* stock */
    #stock {
        position: relative;
        padding-bottom: 50px;
        width: 100%;
        background-color:#0749ab ;
        clip-path: polygon(0 3%, 70% 3%, 80% 0, 100% 0, 100% 100%, 0 100%);
    }

    #stock > h2 {
        text-align: right;
        color: white;
        font-size: 30px;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 14px 8px 0 0 ;
    }

    #car-box{
        display: flex;
        flex-direction:column;
    }

    #car-box > a {
        display: none;
    }

    .car {
        background-color: white;
        width: 90%;
        margin: 10px 15px;
    }

    .car > p{
        font-size: 18px;
        font-weight: bold;
        margin-left: 3px;
    }

    .car > img{
        width: 95%;
        margin-left: 6px;
    }

    .pay{
        text-align: right;
        font-weight: bold;
        margin-right: 3px;
    }

    .place {
        font-size: 25px;
        color: red;
        font-weight: bold;
    }

    .pay > p{
        margin: 0;
        font-size: 17px;
    }

    .detail{
        margin-top: 10px;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 17px;
    }
    .detail > p{
        margin: 0;
    }

    #sp-limited{
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 19px;
        position: absolute;
        left: 36%;
    }

    #sp-limited:hover{
        background-color: white;
        color: #0749ab;
    }

    /* news */

    #news {
        width: 100%;
        margin-top: 30px;
        position: relative;
    }

    #news > h2{
        text-align: center;
        color: #0749ab;
        font-size: 30px;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;

    }

    .blog {
        width: 80%;
        margin: 0 auto 50px auto;
    }

    .blog > img{
        width: 100%;
    }

    .blog p:nth-of-type(1) {
        margin: 0;
        font-size: 13px;
    }

    .blog p:nth-of-type(2) {
        margin: 5px 0;
        font-size: 18px;
        font-weight: bold;
    }

    .blog p:nth-of-type(3) {
        margin: 0;
        font-size: 15px;
    }

    #news > a{
        text-decoration: none;
        font-weight: bold;
        font-size: 19px;
        color: #0749ab;
        position: absolute;
        left: 37%;
    }

    #news > a:hover{
        background-color:#0749ab;
        color: white;
    }

    /* フッター */
    footer {
        width: 100%;
        background-color:#7fb4fd;
        height: 100px;
        position: relative;
    }

    footer > div {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    footer > small{
        position: absolute;
        left: 37%;
        top: 80%;
        margin: 0;
        color: white;
    }

     /* greeting.html */

     #greeting > h1{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin: 0;
    }

    #greeting > h2{
        text-align: center;
        margin: -10px 0 40px 0;
        font-size: 20px;
    }
    
    #greeting > div{
        display: flex;
        flex-direction: column;
    }

    #aisatu{
        width: 100%;
        font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "MS Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        order: 2;
    }

    #aisatu p:nth-child(1){
        font-size: 3.3vw;
        line-height: 30px;
        padding-left: 10px;
    }

    #aisatu p:nth-child(2){
        font-size: 3.3vw;
        text-align: right;
        padding-right: 10px;
    }

    #aisatu p:nth-child(3){
        font-size: 3.3vw;
        text-align: right;
        padding-right: 10px;
        
    }

    #greeting > div > img{
        width: 100%;
        order: 1;
    }

    /* outline */
    #outline{
        margin-top: 50px;
        position: relative;
        margin-bottom: 50px;
    }

     #outline > h1{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin: 0;
    }

    #outline > h2{
        text-align: center;
        margin: -10px 0 60px 0;
        font-size: 20px;
    }

    #outline > table{
        font-size: 18px;
        width: 100%;
        border-collapse:collapse;
        border:1px solid #ccc;
    }

    th,td{
        padding:10px;
        border-bottom:1px solid #ccc;
      }

    th{
        text-align:left;
        background-color:#eee;
        border-right:2px solid #ccc;
    }

    #img1{
        position: absolute;
        bottom: 500px;
    }


    /* stock.html */

     #stock2 > h1{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin: 0;
    }

    #stock2 > h2{
        text-align: center;
        margin: -10px 0 40px 0;
        font-size: 20px;
    }

    .list{
        background-color: #0749ab;
        width: 100%;
        margin-bottom: 30px;
        position: relative;
        padding-bottom: 70px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 62% 94%, 0 94%);
    }

    .list > img{
        width: 95%;
        margin: auto;
        display: block;
        padding-top: 100px;
    }

    .car-detail > h3{
        position: absolute;
        top: 10px;
        margin: 0;
        left: 10px;
        color: white;
        font-size: 27px;
        font-weight: bold;
    }

    .car-p{
        position: absolute;
        top: 45px;
        margin: 0;
        left: 10px;
        color: white;
        font-size: 14px;
    }

    .payment{
        display: flex;
        margin: 0 10px;
        color: white;
        font-size: 4vw;
        font-weight: bold;
    }

    .base-price{
        padding: 0 3rem;
    }

    .payment p:nth-child(1){
        margin-bottom: 5px;
    }

    .payment p:nth-child(2){
        margin: 0;
    }

    .total-pay p:nth-child(2){
        color: #FFBF00;
    }

    .table{
        margin-left: 10px;
        display: flex;
        font-size: 14px;
        width: 70%;
        border-collapse:collapse;
        border:2px solid #ccc;
        background-color: white;
    }

    .table >th,td{
        padding:8px;
        border-bottom:2px solid #ccc;
      }

    .table >th{
        text-align:left;
        background-color:#eee;
        border-right:2px solid #ccc;
        
    }

    .stock-list{
        position: relative;
    }

    .stock-list > a{
        position: absolute;
        bottom: 16px;
        right: 15px;
        text-decoration: none;
        font-weight: bold;
        font-size: 3vw;
        color: white;
        padding: 0 5px 0 5px;
    }

    .stock-list > a:hover{
        background-color: white;
        color: #0749ab;
    }

    .illust{
        display: none;
    }

    
    /* stock-detail.html */

    #stock3 > h1{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin: 0;
    }

    #stock3 > h2{
        text-align: center;
        margin: -10px 0 40px 0;
        font-size: 20px;
    }
  
    #car-detail2{
        background-color: #0749ab;
        width: 95%;
        padding: 15px 0 90px 4vw;
        margin: 0 auto 60px auto;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 100%, 58% 95%, 0 95%);
        position: relative;
    }

    #car-detail2 >h3{
        font-size: 30px;
        color: white;
        margin: 0;
    }

    #car-detail2 >p{
        color: white;
        margin: 0;
    }

    #payment2{
        display: flex;
        margin-top: 50px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 5px;
        color: white;
    }


    #base-place2{
        margin-left: 5vw;
    }

    #payment2 p:nth-child(1){
        margin-bottom: 5px;
    }

    #payment2 p:nth-child(2){
        margin: 0;
        font-size: 7vw;
    }

    #total-pay2 p:nth-child(2){
        color: #FFBF00;
    }


    .slide {
        --img-size: min(800px, 85vw);
        --aspect-ratio: 1.5;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 8px;
        inline-size: var(--img-size);
        aspect-ratio: var(--aspect-ratio);
        border: 1px solid #ccc;
        box-sizing: content-box;
        padding: 0;
        background-color: #ccc;
        text-align: center;
      }
      .slide li {
        list-style: none;
        width: 18px;
        aspect-ratio: 1;
        user-select: none;
      }
      .slide input {
        translate: 0 50px;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #eee;
        cursor: pointer;
      }
      .slide input:checked {
        background-color: #bbb;
      }
      .slide img {
        --opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        inline-size: var(--img-size);
        aspect-ratio: var(--aspect-ratio);
        opacity: var(--opacity);
        transition: opacity 0.2s 0s ease-out;
        pointer-events: none;
      }
      [for^="slide"]:has(:checked) + img {
        --opacity: 1;
      }
      [for^="slide"]:before,
      [for^="slide"]:after {
        --btn-size: calc(var(--img-size) / 13);
        position: absolute;
        top: calc(50% - (var(--btn-size) / 2));
        inline-size: var(--btn-size);
        aspect-ratio: 1;
        background: #ffffffaa url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M16.67%200l2.83%202.829-9.339%209.175%209.339%209.167-2.83%202.829-12.17-11.996z%22%2F%3E%3C%2Fsvg%3E) no-repeat 50% 50% / calc(var(--btn-size) * 0.4);
        border: 1px solid #eee;
        border-radius: 100%;
        color: #fff;
        cursor: pointer;
        z-index: 1;
      }
      [for^="slide"]:before {
        left: calc(var(--btn-size) / 2 * -1);
      }
      [for^="slide"]:after {
        left: calc(var(--img-size) - var(--btn-size) / 2);
        rotate: 180deg;
      }
      /* 大事なのはここだけ
      -----------------------------------
      */
      li:has(:checked) + li [for^="slide"]:after,
      li:not(li:has(:checked), li:has(:checked) ~ li) [for^="slide"]:before {
        content: "";
      }

    #stock-datail2-table tr:nth-child(1){
        font-size: 3vw;
        background-color: white;
    }

    #stock-datail2-table tr:nth-child(2){
        font-size: 3vw;
        background-color: white;
    }

    #car-detail2 > a{
        position: absolute;
        bottom: 13px;
        right: 18px;
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    #car-detail2 > a:hover{
        background-color: white;
        color: #0749ab;
    }




    .news-list{
        width: 100%;
        background-color: #0749ab;
        margin-bottom: 50px;
    }

    .news-list > img{
        height: 64vw;
        padding: 20px 20px 0 20px;
    }

    .news{
        color: white;
        padding-left: 20px;
    }

    .news >h3{
        font-size: 34px;
        margin: 0;
    }

    .news p:nth-child(2){
        margin: 0;
    }

    .news p:nth-child(3){
        font-size: 19px;
    }



    










} 